@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  --darkGrey: #161616;
  --lightGrey: #CCC;
  color: var(--darkGrey);
  scroll-behavior: smooth;
}
main{
  max-width: 940px;
  margin: auto;
}
  
body{
  background-color: var(--lightGrey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#cima{
  height: 100px;
  width: 100%;
  position: sticky;
  background-color: var(--darkGrey);
  justify-content: space-around;
  display: flex;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.5));
}

#logo {
  height: 100%;
  position: relative;
  top: 5px;
}

nav {
  width: 600px;
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  text-align: center;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--lightGrey);
  font-weight: 500;
  margin: 15px;
  transition: 300ms;
}nav a:hover {
  font-weight: 800;
} nav a:not(:hover){
  opacity: 0.5;
} 
.banner {
  width: 100%;
  max-width: 900px;
  max-height: 400px;
  object-fit: cover;
  margin: auto;
}
.utensilios{
  width: 250px;
  margin: 0 30px 15px 5%;
  border-radius: 5px;
  float: left;
}
#about {
  margin: auto;
  padding: 10px;
  text-align: center;
  justify-content: center;
}
.title {
  font-weight: 800;
  margin: 35px;
  text-align: center;
  text-transform: uppercase;
  clear: both;
}
#about > p {
  margin: 20px auto;
  text-align: left;
}
#benefits {
  margin: auto;
  padding: 25px 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
  align-items: center;
}
#benefits img {
  width: 350px;
  border-radius: 5px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5) );
}
#benefits .list {
  justify-items: center;
  margin: 15px;
  width: 250px;
  font-weight: 600;
}
#vidContainer{
  padding-bottom: 56.25%;
  position: relative;
  margin: 30px;
}
#vidContainer iframe{
  position: absolute;
  left: 0;
  border-radius: 5px;
}
footer {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  height: 100px;
  background-color: var(--darkGrey);
}
footer img{
  height: 100%;
}
footer p, footer a{
  color: var(--lightGrey);
}
footer p{
  min-width: 300px;
  font-size: 0.85em;
}
.secao-comentarios {
  display: flex;
  margin: 2.5em 0 0 0;
  width: 60%;
  max-width: 1200px;
  height: 350px;
  gap: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
  z-index: 2;
  flex-direction: row;
  &::-webkit-scrollbar {
      display: none;
  }

  &::-webkit-scrollbar-thumb {
      display: none;
  }
}
.comentario {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 300px;
  font-size: 1em;
  border: 2px solid rgb(177, 177, 177);
  padding: 10px;
  position: relative;
  & > p {
    margin-left: 20px;
    text-align: left;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    height: 80%;
}
& > p::-webkit-scrollbar {
    display: none;
}
& > small {
    width: 100%;
    text-align: right;
    color: #ccc;
    font-size: 1em;
    margin-right: 20px;
    text-transform: capitalize;

    & > img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 5px;
    }
}
& > span {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

& > span.titulo {
    position: relative;
    cursor: default;
}
}

  & > .titulo {
      font-size: 1.3em;
      font-weight: bolder;
      height: 60px;
      width: 100%;
      text-align: center;
      overflow: hidden;
      color: #fff;
  }

  #carousel-main {
    height: 90vh;
    max-height: 766px;
    width: 67vw;
    max-width: 1366px;
}
.carousel-inner {
    max-height: 766px;
    max-width: 1366px;
    overflow: hidden;
}
.carousel-item {
    overflow: hidden;
    max-height: 766px;
}
.carousel-inner .active img {
    height: 90vh;
    max-height: 766px;
    position: relative;
    max-width: 1366px;
    object-fit: cover;
    min-height: 500px;
}

.left-carousel > p,.right-carousel > p {
    font-style: italic;
} 


#arrowDown {
  cursor: pointer;
}

#promocionais {
  display: flex;
  color: rgb(177, 177, 177);
  width: 10vw;
  gap: 128px;
  max-width: 1980px;
  height: fit-content;
  
}
#promocionais > article {
  background-color: #ff5d5d;
  width: 220px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 2px solid rgb(177, 177, 177);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

#promocionais .title {
  font-size: 1.8em;
  z-index: 2;
}

#promocionais > article > .front-promocionais > p {
  position: absolute;
  opacity: 0;
  align-items: center;
  justify-content: center;
  max-width: 200px;
}
#promocionais > article:hover .front-promocionais, #promocionais > article.active .front-promocionais {
  background-color: #ffffff8a!important;
  color: #000000;
  border: 0!important;
  transition: color 1s;
}
#promocionais > article:hover  p, #promocionais > article.active  p {
  opacity: 1!important;
  position: relative!important;
  transition: opacity 1s;
}
.front-promocionais {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 20px!important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: default;
}
.background-promocionais {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  z-index:0;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: center center;
  filter: brightness(.5) grayscale(1);
}
#promocionais> article:hover > .background-promocionais, article.active > .background-promocionais {
  display: block!important;
}
#dia-especial {
  background-image: url(../../../imagem/jujutsu.jpg);
}
#indique-amigo {
  background-image: url(#);
}
#recompensas-exclusivas {
  background-image: url(#);
} 

  #section-2 {
    position: relative;
  }
  
  #cuidados-barba > .contedor-background {
    background-image: url(../../../imagem/);
}
#calvice > .contedor-background {
    background-image: url(imagens/pexels-rafael-barros-1819482.jpg);
}
#cortes-estilosos > .contedor-background {
    background-image: url(imagens/cortes-estiloso.jpg);
}  
    


  .comentar-button {
    margin-top: 30px;
    padding: 10px;
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    transition: background-color .5s, color .5s;
    &:hover {
        background-color: #fff;
        color: #000000;
    }
  }
  
.contedor {
  & main {
      gap: 10px;
  }
  & aside {
      height: 100%;
      font-size: .8em!important;
      width: 180px!important;
      padding:5px!important;
      
      & > p {
          margin-top: 50px;
      }
  }
}

.comentario {
  height: 250px!important;
  width: 200px!important;

  & > p {
      font-size: .8em;
  }

  & > span.titulo {
      display: flex;
      width: 200px;
      font-size: 1em;
      overflow: hidden;
  }
}

.secao-comentarios {
  height: 300px;
}
#section-2 > header {

  & > span {
      font-size: .8em!important;
      text-align: center;
  }   
  

  & > .active:hover {
      color: #ffdd78;
  }
}
#section-2 > header > span.active {
  font-size: 1.3em!important;
}

& > article {
  display: none;
}

& > article.active {
  display: flex;
}



.modal-comentar {
display: none;
justify-content: center;
align-items: center;
position: relative;
flex-direction: column;

& > div {
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  right: 10px;

  & > span {
      cursor: pointer;
  }
}

& > form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  & > div > label {
      text-align: center;
      font-size: .8em;
  }
  & > .textarea-comentario {
      height: 100%;
  }
  & > button {
      border: 0;
      margin-top: 15px;
      padding: 2.5px 5px;
  }
}

& > form > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  & > input {
      width: 80%;
  }
}

& > form > div > textarea {
  resize: none;
  width: 80%;
  height: 100%;
}



}
.modal-comentar.active {
display: flex;
}

@media (max-width: 1040px)  {
  .utensilios{
    display: none;
  }
}