*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;

}

.container {
display: flex;
border-radius: 10px;
overflow: hidden;
margin: 50px;
height: 450px;

}
img{
    width: 457px;

}
form{
    padding: 2em;
    display: flex;
    flex-direction: column;
    background-color: white;
    width:50%;
   
    
}

.campos {
    margin: 2em;
    display: block;
    
}
@media(max-width:791px){
    .container{
        flex-direction: column;
    }
}
@media(max-width:500px){
img{
    display: none;
}
}
